<!doctype html>
<html lang="en">
<%- include('./partial/nav-index.ejs') %>
      <div class="container">
            <div class="list-group" id="list-todo">
                <h1 class="text-center py-5">No task to display</h1>
            </div>
      </div>
<%- include('./partial/foot-index.ejs') %>
</html>