<head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="/style.css">

    <link rel="icon" 
      type="image/png" 
      href="/logo.png">
    <title>Todo List</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light d-flex flex-md-row flex-column px-5 align-items-md-center align-items-stretch">
                <img class="navbar-brand logo my-2 my-md-1 align-self-center" src="/logo.png">
                <form class="form-inline input-todo">
                    <input class="form-control mr-sm-2" type="search" placeholder="Todo......" aria-label="Search">
                    <button class="btn btn-outline-primary ml-3 my-2 my-sm-0" type="submit">Add</button>
                </form>
                </nav>