<head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="/style.css">

    <link rel="icon" 
      type="image/png" 
      href="/logo.png">
    <title>Todo List</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light d-flex flex-md-row flex-column pt-3 px-md-5 px-sm-3 px-2 align-items-center main-nav">
                <img class="logo" src="/logo.png">
                <form class="d-flex flex-sm-row flex-column pt-3 pt-md-0 align-items-center form-add w-100 w-md-auto">
                    <input class="form-control add-field align-self-stretch align-self-sm-center" type="text" placeholder="Todo......" aria-label="Search">
                    <button class="btn btn-outline-primary ml-sm-2 mt-2 mt-sm-0 btn-add" type="submit">Add</button>
                </form>
                </nav>