.logo{
    width:60px;
    height: 60px;
}

.input-todo input{
    flex-grow: 1;
}

.btn-remove-todo{
    width:100px
}


.main-nav{
    width:100%
}

.btn-add{
    width:6rem;
}

.form-add{
    max-width: 600px;
}